body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #aad0ff;
}

div#body {
    max-width: 680px;
    min-width: 480px;
    margin: 20px 40px;
    padding: 20px;
    background-color: #f9f9f9;
}

p {
    line-height: 1.5em;
    color: #222;
}

h1 {
    line-height: 1.1em;
}

ul {
    line-height: 1.5em;
}


a, a:visited {
    color: #ff0000;
}

pre {
    width: 98%;
    white-space: pre-wrap;       /* CSS 3 */
    padding: 5px;
}

code {
    font-size: 14px;
    padding: 2px;
}

pre, code {
    background-color: #444;
    color: #ffefdf;
}

blockquote {
    background-color: #efefef;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
