body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #A0C6ED;
}


div#header {
    margin: 0;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #650dff;
}

div#header h1 {
    margin: 0;
    color: #f9f9f9;
}

div#body {
    width: 620px;
    margin: 20px 40px;
    padding: 20px;
    background-color: #f9f9f9;
}

p {
    line-height: 1.5em;
    color: #222;
}

h1 {
    line-height: 1.1em;
}

ul {
    line-height: 1.5em;
}


a, a:visited {
    color: #ff0000;
}

pre {
    max-width: 620px;
    background-color: #efefef;
    white-space: pre-wrap;       /* CSS 3 */
}

code {
    background-color: #efefef;
    font-size: 14px;
}

blockquote {
    background-color: #efefef;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
